*{
    margin: 0px;
    outline: 0px;
    padding: 0px;
  }
  html, body, #root {
    height: 100%;
  }
  nav{
    height: 14vh;
    padding:0px 90px;
    display: flex;
     justify-content: space-evenly;
    background-color: white;
    
  }
  
  .navdiv{
    display: flex;
    justify-content: space-between;
    position: static;
    gap:40px;
  }
  nav img{
    height: 13vh;
    width: 400px;
  }
  nav a{
    text-decoration: none;
    height:auto ;
    gap: 0px;
    padding-top: 40px; 
  }
  nav a:hover {
    background-color: #DE3B69;
    color: gold;
    text-align: center;
    padding: 30px 20px;
    display: block;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
  }
  .header a{
    color: white;
    text-decoration: none;
    gap: 50px;
    padding: 20px;
    cursor: pointer;
  }
  .header{
    width: 100%;
    height: 5vh;
    background-color:#DE3B69;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: bold;
  }
  .con{
    height:170vh;
    width:100%
  }
  .cont{
    width:100%;
    height:80vh;
  }
  .con img{
    height: 80%;
    width: 50%;
    position: absolute;
    transform: translate(-50% -50%);
    left: 25%;
  }
  .lt{
    position: absolute;
    left:50px; 
    top: 60%;
    transform: translateY(-50%);
    font-size: 25px;
    color: black;
  }
  .gt{
    position: absolute;
    right: 50px;
    top: 60%;
    transform: translateY(-50%);
    font-size: 25px;
    color: black;
  }
  .dot{
    position: absolute;
    bottom: 0px;
    left: 45%;
    color: white;
  }
  .footer {
    width: 100%;
    height: 30vh;
    text-align: center;
    background-color:#DE3B69;
    color: #fff;
    position: absolute;
    padding: 20px;
  }
  h1{
    padding-bottom: 20px;
  }
  p{
    padding-bottom: 10px;
  }
  .footers{
    height: 350px;
    display: flex;
    left: 50px;
    width:100%;
    flex-wrap: wrap;
    background-color: #333;
  }
  .footers .footers1{
    display: flex;
    left: 50px;
    padding-left: 150px;
    padding-top: 50px;
    width:100%;
    flex-wrap: wrap;
  }
  .footers .f1,.f2,.f3{
    height: 200px;
    width: 300px;
    gap: 50px;
    margin: 40px;
    color: white;
  }
  .footers .f4{
    height: 30px; 
    color:white;
    background-color: #333;
    width:100%;
    line-height: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .f4 .y{
    position: relative;
    left:280px;
    line-height: 30px;
    padding-bottom: 20px;
  }
  .f4 .in{
    position: relative;
    left:230px;
    line-height: 30px;
  }
  .f4 .f{
    position: relative;
    left:230px;
    line-height: 30px;
  }
  .about{
    height:250vh;
    width: 100%;
  }
  .abt{
    height: 100px;
    width: 100%;  
    color: #333;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    background-color: #FFA500;
  }
  .lin{
    height: 10px;
    width: 100%;
    background-color: #FFD580;
  }
  .content{
    width: 75%;
    height: 80vh;
    position: absolute;
    left:200px;
    top:350px;
    padding: 20px;
    line-height: 1.8;
  }
  .content b{
    font-size: 20px;
  }
  .content img{
    height:250px;
    width:350px;
  }
  .con1{
    display: flex;
  }
  .con1 p,img{
    margin: 10px;
  }
  .con2{
    height:500px;
  }
  .con2 p{
    display:flex;
    margin:20px;
    padding:15px;
  }
  .con2 p b{
    position:absolute;
    left:45%;
  }
  .con2 .p1{
    background-color: lightpink;
  }
  .con2 .p2{
    background-color: #F6CEFC;
  }
  .con3
  {
    display:flex;
    position:relative;
    left: 10px; 
  }
  .con3 .con31, .con32{
    padding: 10px;
    height: 200px;
    width: 520px;
    margin: 10px;
  }
  .con3 .con31{
    background-color: rgb(127, 239, 239);
  
  }
  .con3 .con32{
    background-color: rgb(127, 255, 212);
  }
  .acd{
    padding-top: 50px;
    display: flex;
    padding-left: 120px;
  }
  .acd img{
    width: 30%;
  }
  .abt1{
    height: 40px;
    width: 100%;  
    background-color: #FFA500;
  }
  .contact{
    display: flex;
    /* border: 2px solid; */
    justify-content: center;
    width:100%;
    height: 60vh;
    gap: 50px;
    margin-bottom: 2px;
  }
  .contact .contact1 input{
    height: 30px;
    width: 500px;
    gap: 10px;
    margin: 10px;
  }
  .contact1 button{
    height: 40px;
    width: 70px;
    background-color: red;
    border: 2px solid red;
    color:white;
    position: absolute;
    left :680px
  }
  .contact2 div{
    gap:50px;
    display: flex;
    height: 100px;
    margin: 5px;
  }
  .map{
    padding-top: 50px;
  padding-left: 150px;
  width: 80%;
  padding-bottom: 50px;
  }
  .text{
    height: 200px;
    width: 500px;
    margin-left: 10px;
  }
  .youtube{
    height: 400px;
    width: 100vw;  
  }
  .video{
    padding-left: 40px;
  }